.hidden {
    display: none !important;
}
body {
    font-family: Verdana, serif;
    background-color: rgb(8, 8, 8);
    color: rgb(255, 255, 255);
    margin: 0;
}
#header {
    margin: 0;
    position: fixed;
    width: 100%;
    background-color: rgb(48, 48, 48);
    border-bottom: 2px solid rgb(86, 86, 86);
    display: grid;
    row-gap: 20px;
    grid-template-rows: 4fr 5fr;
    grid-template-columns: 20% 80%;
    height: 90px;
}

.subForm label:not(.checkbox),
.updateForm label:not(.checkbox){
    display: none;
}
.subForm input.checkbox,
.jobUpdateForm input.checkbox{
    display: none;
}
.form{
    grid-area: 2/2/3/3;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);   
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button{
    appearance: none;
    margin: 0;
}
label.checkbox,
.form input,
.form select{
    box-sizing: border-box;
    border: 1px solid rgb(86, 86, 86);
    border-top-width: 2px;
    border-bottom-width: 0;
    text-align: center;
    width: 100%;
    color: white;
    font-size: 120%;
    background-color: rgb(8, 8, 8);
    outline: none;
} 
.form input:focus,
.form select:focus{
    border: 1px solid white;
}
label.checkbox{
    display: flex;
    gap: 3px;
    justify-content: center;
    align-items: center;
}

#createForm {
    text-align: center;
    grid-area: 1/2/1/3;
    display: flex;
    justify-content: space-around;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
}
#createForm input[type="radio"]{
    display: none;
}
#createForm label{    
    background-color: rgb(8, 8, 8);
    border: 2px solid rgb(86, 86, 86);
    border-top: 0;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 25%;
    align-items: center;
    text-align: center;
    font-size: 120%;
}

#createButton{
    border: 0 solid rgb(86, 86, 86);
    border-right-width: 3px;
    grid-area: 1/1/3/2;
    font-size: 150%;
    background-color: rgb(62, 148, 75);
    color: white;
}
#createButton:hover,
#submitButton:hover{
    background-color: rgb(37, 83, 43);
}


#createForm input[type="radio"]:checked + label{
    background-color: rgb(62, 148, 75);
    border-color: white;
}

.editAndDelete{
    display: flex;
}
.editAndDelete button, 
.checkButton{
    padding: 0;
    margin: 0;
    border: 0;
    color: rgba(255, 255, 255, .5);
    background-color: rgba(8, 8, 8, 1);
}
.editAndDelete button{
    box-sizing: border-box;
    width: 50%;
}
#sideListButton,
#confirmButton{
    color: white;
    border: 1px solid rgb(86, 86, 86);
    border-left: none;
    padding: 0;
    height: 35px;
    font-size: 18px;
}
#sideListButton{
    background-color: rgb(31, 95, 127);
}
#confirmButton{
    background-color: rgb(28, 47, 105);
}
#confirmButton:hover{
    background-color: rgb(14, 24, 50)
}
#sideListButton:hover{
    background-color: rgb(15, 45, 60);
}
#sideListButton:active,
#confirmButton:active,
#submitButton:active{
    background-color: rgb(0, 0, 0);
}
#preview{
    display: flex;
}
#lists{
    padding-top: 90px;
    display: flex;
}
#sideList{
    flex: 1;
    min-width: 230px;
    flex-shrink: 0;
}
#employeeListContainer{
    flex: 3;

}
#lists > div{
    border: 1px solid rgb(86, 86, 86);
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-items: start;
}
ul{
    margin: 0;
    padding: 0;
    border: none;
    width: 100%;
}
#lists h4 {
    text-align: center;
    height: min-content;
    padding: 10px 0;
    margin: 0;
}
#preview form,
#lists form,
#checkoutPreviewHeader,
#employeePreviewHeader,
#checkoutListHeader,
#jobListHeader,
#employeeListHeader{ 
    box-sizing: border-box;
    height: 35px;
    width: 100%;
    display: grid;
}
.checkoutUpdateForm, #checkoutListHeader{
    grid-template-columns: 70px 3fr 70px;
}
.employeeUpdateForm, #employeeListHeader{
    grid-template-columns: 70px 2fr 2fr 1fr 1fr;
}
.employeePreviewForm, #employeePreviewHeader{
    grid-template-columns: 2fr 2fr 1fr 1fr;
}
.checkoutPreviewForm, #checkoutPreviewHeader{
    grid-template-columns: 1fr 1fr;
}
.jobUpdateForm, #jobListHeader{
    grid-template-columns: 70px 2fr 1fr 1fr;
}
.updateFormInputStyle label.checkbox,
.updateFormInputStyle input,
.updateFormInputStyle select,
.editAndDelete,
.checkButton{
    box-sizing: border-box;
    width: 100%;
    border: 1px solid rgb(86, 86, 86);
    border-left: none;
    color: rgba(255, 255, 255, .5);
    background-color: rgb(8, 8, 8);
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 18px;
}
P{  
    font-size: 18px;
    height: 35px;
    width: 100%;
    margin: 0;
    padding: 5px 0 0 0;
    box-sizing: border-box;
    border: 1px solid rgb(86, 86, 86);
    border-left: none;
    text-align: center;
    
}
#jobListContainer p,
#checkoutListContainer p{
    background-color: rgb(31, 95, 127);
}
#checkoutListContainer p[id = "totalTips"],
#jobListContainer p[id = "hourlyPerPoint"]{
    background-color: rgb(8,8,8);
}
#employeeListContainer p{
    background-color: rgb(28, 47, 105);
}
.material-symbols-outlined{
    pointer-events: none;
    padding-top: 4px;
    height: min-content;
    color: rgba(255, 255, 255, 1);
}
.disabled .material-symbols-outlined{
    color: rgba(255, 255, 255, .25);
}
.selectedListForm .editButton{
    background-color: rgb(112, 87, 55);
}
.editButton:hover{
    background-color: rgb(70, 55, 34);
}
.selectedListForm .deleteButton{
    background-color: rgb(158, 47, 47);
}
.deleteButton:hover{
    background-color: rgb(110, 21, 21);
}
.checkButton{
    background-color: rgb(62, 148, 75);
}
.checkButton:hover{
    background-color: rgb(37, 83, 43);
}
#createButton:active,
.deleteButton:active,
.editButton:active,
.checkButton:active{
    background-color: rgb(8, 8, 8);
}

.selectedListForm input,
.selectedListForm label.checkbox,
.selectedListForm select,
.selectedListForm .editAndDelete,
.selectedListForm .checkButton{
    border-color: white;
}

.editing input,
.editing label.checkbox,
.editing select{
    color: rgb(255, 255, 255);
    outline: none;
}


label.checkbox.checked{
    background-color: rgb(31, 26, 60);
}
.tipOut{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border: 1px solid rgb(86, 86, 86);
    background-color: rgb(62, 148, 75);
}
.disabled {
    pointer-events: none;
    cursor: not-allowed;
}

#confirmForm {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgb(48, 48, 48);
    border: 2px solid rgb(86, 86, 86);
    border-radius: 5px;
}

#confirmForm label {
    margin: 10px 0 5px;
    font-size: 120%;
    color: white;
}
#confirmForm h1 {
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    color: white;
    outline: none;
    padding: 8px;
    margin: 0 0 30px 0;
}
#confirmForm input {
    box-sizing: border-box;
    border: 2px solid rgb(86, 86, 86);
    text-align: center;
    width: 100%;
    color: white;
    font-size: 120%;
    background-color: rgb(8, 8, 8);
    outline: none;
    padding: 8px;
    margin-bottom: 10px;
}
#confirmForm button {
    box-sizing: border-box;
    border: 2px solid rgb(86, 86, 86);
    text-align: center;
    width: 100%;
    color: white;
    font-size: 120%;
    background-color: rgb(62, 148, 75);
    outline: none;
    padding: 8px;
    margin-bottom: 10px;
    margin-top: 30px;
}
#confirmForm input:focus {
    border-color: white;
}

#confirmForm input[type="date"] {
    font-family: Verdana, serif;
    color: white;
}

#confirmForm input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
    cursor: pointer;
}
  